body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

select {
    -webkit-appearance: none; 
}

.card {
    min-height: 29em;
}

.card-summary {
    font-size: 1.2em;
    color: #13557e;
}

.card-headline {
    letter-spacing: 0.1px;
}