{% extends "base.html" %}
{% block title %}Self Isolution - Oops!{% endblock %}

{% block content %}
<div class="row center">
    <div class="col s6 offset-s3 l4 offset-l4">
        <div class="error-image-container">
            <img src="{{ url_for('static', filename='images/404.jpg') }}" alt="" class="responsive-img error-img">
        </div>
    </div>
    <div class="col s12">
        <div class="error-container">
            <div class="error-heading">
                <h2 class="section-heading">Page not found</h2>
            </div>
            <div class="error-message flow-text">
                <p>Get back to the <a href="{{ url_for('get_activities') }}">Activities!</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}