{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Activities</h3>

    <div class="row">
    {% for activity in activities %}
        <div class="col s12 m6 l3">
            <div class="card hoverable">
                <div class="card-image">
                    <img src="static/images/test.jpg">
                    <span class="card-title">{{ activity.activity_name }}</span>
                </div>
                <div class="card-content">
                    <p>{{ activity.activity_age }} //  {{ activity.activity_category }} // {{ activity.activity_time }}</p>
                </div>
                <div class="card-action">
                        <a href="#">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}