{% extends "base.html" %}
{% block title %}Self Isolution - Activities{% endblock %}

{% block content %}

    <h3 class="center-align">{{ page_title }}</h3>

    <div class="row card-panel">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row center-align">
                <div class="input-field col s12">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Activities</label>
                </div>
                <div class="col s12">
                    <a href="{{ url_for('get_activities') }}" class="btn text-shadow">
                        <i class="fas fa-redo center-align"></i>
                    </a>
                    <button type="submit" class="btn text-shadow">
                        <i class="fas fa-search center-align"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if activities|length > 0 %}
        <div class="row">
            {% for activity in activities %}
                <div id="activities-container" class="col s12 m6 xl4">
                    <div class="card hoverable">
                        <div class="card-image">
                        <a href="{{ url_for('view_activity', activity_id=activity._id) }}">
                            {% if activity.image_file == "" %}
                                {% for category in categories if category.category_name == activity.category_name %}
                                        <img src="{{ category.image_file }}" />
                                {% endfor %}
                            {% else %}
                                <img src="{{ activity.image_file }}" />
                            {% endif %}
                            <span class="card-title text-shadow">{{ activity.activity_name }}</span>
                        </a>
                        {% if session.user|lower == activity.created_by|lower or session.user|lower == "admin"|lower %}
                        <a
                            href="{{ url_for('edit_activity', activity_id=activity._id) }}"
                            class="btn-floating halfway-fab waves-effect waves-light"
                            ><i class="fas fa-user-edit"></i
                        ></a>
                        {% endif %}
                        </div>
                        <div class="card-content activities-card-summary">
                            {{ activity.activity_summary }}
                        </div>
                            <div class="card-action left-align truncate">
                                <div class="col s5">
                                    <span><i class="fas fa-child prefix"></i>  {{ activity.target_age }}</span>
                                </div>
                                <div class="col s7">
                                    <span><i class="fas fa-folder-open prefix"></i> {{ activity.category_name }}</span>
                                </div>
                            </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h3 class="">No Results Found</h3>
    {% endif %}

{% endblock %}
