{% extends "base.html" %}
{% block title %}Self Isolution - Activities{% endblock %}

{% block content %}

    <h3 class="center-align">Activities</h3>

    <div class="row">
        {% for activity in activities %}
            <div id="activities-container" class="col s12 m6 xl4">
                <div class="card hoverable grey lighten-4">
                    <div class="card-image">
                    <a href="{{ url_for('view_activity', activity_id=activity._id) }}">
                        {% if activity.activity_image == "" %}
                            {% for category in categories %}
                                {% if category.category_name == activity.category_name %}
                                    <img src="{{ category.category_image }}" />
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <img src="{{ activity.activity_image }}" />
                        {% endif %}
                        <span class="card-title text-shadow">{{ activity.activity_name }}</span>
                    </a>
                    {% if session.user|lower == activity.created_by|lower or session.user|lower == "admin"|lower %}
                    <a
                        href="{{ url_for('edit_activity', activity_id=activity._id) }}"
                        class="btn-floating halfway-fab waves-effect waves-light cyan accent-3"
                        ><i class="fas fa-user-edit"></i
                    ></a>
                    {% endif %}
                    </div>
                    <div class="card-content">
                        <div class="card-summary truncate">{{ activity.activity_summary }}</div>
                        <div class="activities-card-info-container">
                            <p><i class="fas fa-child prefix"></i>  {{ activity.target_age }}</p>
                            <p><i class="fas fa-folder-open prefix"></i> {{ activity.category_name }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
