{% extends "base.html" %}
{% block title %}Self Isolution - Add Activity{% endblock %}
{% block nav_profile %}active{% endblock %}
{% block nav_add_activity_mob %}active{% endblock %}
{% block content %}

    <h3 class="center-align section-heading">Add Activity</h3>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('add_activity') }}" enctype="multipart/form-data">

            <!-- Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix"></i>
                    <input id="activity_name" name="activity_name" minlength="5" maxlength="20" data-length="20"
                        type="text" class="validate" required>
                    <label for="activity_name">Title</label>
                </div>
            </div>

            <!-- Category -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-folder-open prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Choose category</option>
                        {% for category in categories %}
                            <option value="{{category.category_name}}">{{category.category_name}}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name">Category</label>
                </div>
            </div>

            <!-- Target Age -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-child prefix"></i>
                    <select id="target_age" name="target_age" class="validate" required>
                        <option value="" disabled selected>Choose age</option>
                        {% for age in ages %}
                            <option value="{{ age }}">{{ age }}</option>
                        {% endfor %}
                    </select>
                    <label for="target_age">Target Age</label>
                </div>
            </div>

            <!-- Summary -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-quote-left prefix"></i>
                    <textarea id="activity_summary" name="activity_summary" minlength="10" maxlength="50" data-length="50"
                    class="materialize-textarea validate" required></textarea>
                    <label for="activity_summary">Summary</label>
                </div>
            </div>

            <!-- Details -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-align-left prefix"></i>
                    <textarea id="activity_details" name="activity_details" minlength="10" maxlength="500" data-length="500"
                    class="materialize-textarea validate" required></textarea>
                    <label for="activity_details">Details</label>
                </div>
            </div>

            <!-- What you'll need -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-box-open prefix"></i>
                    <textarea id="activity_equipment" name="activity_equipment" minlength="3" maxlength="50" data-length="50"
                    class="materialize-textarea validate"></textarea>
                    <label for="activity_equipment">What you'll need</label>
                    <span class="helper-text">Please enter each item on a new line or leave blank if nothing needed!</span>
                </div>
            </div>

            <!-- Image -->
            <div class="row">
               <div class="file-field input-field col s12">
                    <i class="fas fa-image prefix"></i>
                    <input type="file" id="activity_image" name="image_file" />
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text"
                        placeholder="Upload image" />
                        <label for="activity_image">Image for your activity</label>
                    </div>
               </div>
            </div>

            <!-- Submit -->
            <div class="row">
                <div class="col s12 form-button-container">
                    <div class="form-button">
                        <a href="{{ url_for('get_activities') }}" class="btn red">
                            Cancel <i class="fas fa-times-circle right"></i>
                        </a>
                    </div>
                    <div class="form-button">
                        <button type="submit" class="btn teal darken-1">
                            Submit <i class="fas fa-plus-circle right"></i>
                        </button>
                    </div>                    
                </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts  %}
{% endblock %}