{% extends "base.html" %}
{% block title %}Self Isolution - Categories{% endblock %}
{% block content %}

    <h3 class="center-align">Categories</h3>

    <div class="row">
        {% for category in categories %}
            <div class="col s12 m6 xl4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="{{ category.image_file }}">
                    </div>
                    <div class="card-content">
                        <div class="col-12 center-align">
                            <span class="card-title activator grey-text text-darken-4">{{ category.category_name }}<i class="fas fa-info-circle right"></i></span>
                       </div>
                       <div class="col-12 center-align">
                        {% if session.user|lower == "admin"|lower %}
                            <a href="{{ url_for('edit_category', category_id=category._id) }}" class="waves-effect waves-light btn">Edit</a>
                            <button data-target="{{ category._id }}" class="btn modal-trigger">Delete</button>
                        {% endif %}
                        <a href="{{ url_for('filter_category', category_id=category._id) }}" class="waves-effect waves-light btn">View ({{ category.activity_list|count }})</a>
                        </div>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{ category.category_name }} ?<i class="fas fa-times-circle right"></i></span>
                            <p>{{ category.category_summary }}</p>
                            {% if category.activity_list|length > 0 %}
                                <p>Exciting activities include:</p>
                                <ul>
                                    {% for activity in activities if activity.category_name == category.category_name %}
                                        {% if loop.index < 4 %}
                                                <li>{{ activity.activity_name }}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                    </div>
                </div>
            </div>

            <div id="{{ category._id }}" class="modal">
                <div class="modal-content">
                    <h4>Confirm deletion</h4>
                    <p>Are you sure you want to delete <strong>{{ category.category_name }}</strong> ?</p>
                    {% if category.activity_list|count > 0 %}
                        <p>The following activities will be left without an associated category:</p>
                        <ul>
                            {% for activity in activities if activity.category_name == category.category_name %}
                                <li>{{ activity.activity_name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
                    <a href="{{ url_for('delete_category', category_id=category._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                </div>
            </div>
        {% endfor %}
    </div>

    

{% endblock %}
<!-- 
<a href="#" class="btn-floating halfway-fab left blue"><i class="fas fa-edit"></i></a>
<a href="#" class="btn-floating halfway-fab right red"><i class="fas fa-trash"></i></a> -->