{% extends "base.html" %}
{% block title %}Self Isolution - Home{% endblock %}
{% block nav_home %}active{% endblock %}
{% block nav_home_mob %}active{% endblock %}

{% block intro %}

<section>

    <div id="welcome-img-container" class="center">
        <img id="welcome-img"
        src="{{ url_for('static', filename='images/street-1431207_1920.jpg') }}"
        alt="Crayon drawing of a grey street with one colourful house and tall sunflower">
    </div>

</section>

{% endblock %}

{% block content %}

<section>

    <div class="row center">
        <div class="col s12" id="welcome-intro">
            <h3 class="section-heading">Trapped at home with your kids?</h3>
            <p class="flow-text">
                As most parents with small children will now realise, the pain of self-isolation due to school closures or coronavirus cases in your bubble is very real. If you're trying to hold a job down while catering to your kids' meritless demands, you'll recognise the need for quick solutions which don't involve a petulant pig or some stultifying electro-gizmo.</p>
            <p class="flow-text">    
                Never fear, there are solutions to our collective misery. The tome of parental shortcuts must be filled - our sanities depend on it!
            </p>
        </div>
    </div>

    <div class="row center">
        <div class="col s12 l6">
            <div class="welcome-block" id="browse-block">
                <h4 class="section-heading">
                    Browse
                </h4>
                <p class="flow-text">
                    Find inspiration for <a href="{{ url_for('get_activities') }}">Activities</a> to keep your kids entertained while stuck in self-isolation hell.
                </p>
            </div>
        </div>

        <div class="col s12 l6">
            <div class="welcome-block" id="share-block">
                <h4 class="section-heading">
                    Share
                </h4>
                <p class="flow-text">
                    Don't keep your nuggets of genius hidden. <a href="{{ url_for('register') }}">Register</a> and share them for all to see.
                </p>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="row section-heading center">
        <div class="col s8 offset-s2">
            <h4>Latest Activities</h4>
        </div>
        <div class="col s2">
             {% if session.user|lower == "admin"|lower %}
                <h4 class="add-item-button-container valign-wrapper">
                    <a href="{{ url_for('add_activity') }}"
                    class="btn-floating orange accent-4 pulse">
                    <i class="fas fa-plus"></i>
                    </a>
                </h4>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% for activity in activities %}
            {% if loop.index < 4 %}
                <div class="col s12 m6 xl4">
                    <div class="card hoverable indigo lighten-5">
                        <div class="card-image">
                            <a href="{{ url_for('view_activity', activity_id=activity._id) }}">
                                {% if activity.image_file == "" %}
                                    {% for category in categories if category.category_name == activity.category_name %}
                                            <img src="{{ category.image_file }}" alt="{{ category.category_name }}" />
                                    {% endfor %}
                                {% else %}
                                    <img src="{{ activity.image_file }}" alt="activity.activity_summary" />
                                {% endif %}
                                <span class="card-title text-shadow">{{ activity.activity_name }}</span>
                            </a>
                                {% if session.user|lower == activity.created_by|lower %}
                                    <a
                                        href="{{ url_for('edit_activity', activity_id=activity._id) }}"
                                        class="btn-floating halfway-fab teal darken-1"
                                        ><i class="fas fa-pencil-alt"></i
                                    ></a>
                                {% endif %}
                        </div>
                        <div class="card-content activities-card-summary">
                            {{ activity.activity_summary }}
                        </div>
                        <div class="card-action center-align truncate">
                            <div class="col s5">
                                <a href="{{ url_for('filter_age', target_age=activity.target_age) }}" class="card-action-link"><i class="fas fa-child prefix"></i>  {{ activity.target_age }}</a>
                            </div>
                            <div class="col s7">
                                {% for category in categories if category.category_name == activity.category_name %}
                                    <a href="{{ url_for('filter_category', category_id=category._id) }}" class="card-action-link">
                                        <i class="fas fa-folder-open prefix"></i> {{ activity.category_name }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        <div class="col s12">
            <p class="flow-text">
                Check out <a href="{{ url_for('get_activities') }}">All Activities...</a>
            </p>
        </div>
    </div>

</section>

{% endblock %}