{% extends "base.html" %}
{% block title %}Self Isolution - {{ username }}'s Profile{% endblock %}
{% block nav_profile %}active{% endblock %}
{% block nav_profile_mob %}active{% endblock %}
{% block content %}

    <div class="profile-intro">
        <p class="flow-text">
            Hey <span class="special-text">{{ username }}!</span> This is where you can keep track of all the activities you've created, then edit or delete them as you please.
        </p>
    </div>

    <div class="row section-heading center">
        <div class="col s8 offset-s2">
            <h3>My Activities</h3>
        </div>
        <div class="col s2">
            <h3 class="add-item-button-container valign-wrapper">
                <a href="{{ url_for('add_activity') }}"
                class="btn-floating orange accent-4 pulse">
                <i class="fas fa-plus"></i>
                </a>
            </h3>
        </div>
    </div>

    {% if activities|length > 0 %}
        <div class="row">
            {% for activity in activities if session.user|lower == activity.created_by|lower %}
                <div class="col s12 m6 xl4 xxl3">
                    <div class="card horizontal hoverable indigo lighten-5">
                        <div class="card-image">
                            <a href="{{ url_for('view_activity', activity_id=activity._id) }}">
                                {% if activity.image_file == "" %}
                                    {% for category in categories if category.category_name == activity.category_name %}
                                            <img src="{{ category.image_file }}" class="responsive-img"/>
                                    {% endfor %}
                                {% else %}
                                    <img src="{{ activity.image_file }}" />
                                {% endif %}
                            </a>
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <div class="profile-card-name-container ">
                                    <span class="profile-card-name">{{ activity.activity_name }}</span>
                                </div>
                                <div>
                                    {{ activity.date_added }}
                                </div>
                            </div>
                            <div class="card-action">
                                <div>
                                    <button data-target="{{ activity._id }}" class="btn-floating modal-trigger red">
                                        <i class="fas fa-trash-alt "></i>
                                    </button>
                                </div>
                                <div>
                                    <a href="{{ url_for('edit_activity', activity_id=activity._id) }}"
                                        class="btn-floating teal darken-1">
                                        <i class="fas fa-pencil-alt "></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="{{ activity._id }}" class="modal">
                    <div class="modal-content">
                        <h4>Confirm deletion</h4>
                        <p>Are you sure you want to delete <span class="special-text">{{ activity.activity_name }}</span> ?</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="btn modal-close indigo text-shadow">Cancel <i class="fas fa-undo-alt right"></i></a>
                        <a href="{{ url_for('delete_activity', activity_id=activity._id) }}" class="btn modal-close white-text red text-shadow">
                            Delete <i class="far fa-trash-alt right"></i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        <div class="no-results-container flow-text indigo-text text-darken-4 center-align">
            <p>You have not added any activities... yet!</p>
            <p>Click <a href="{{ url_for('add_activity') }}">here</a> to share your snippets of wisdom!</p>
        </div>
    {% endif %}

{% endblock %}
