{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                {{ username }}
            </div>
        </div>
    </div>

    <h3 class="center-align">My activities</h3>

    <div class="row">
    {% for activity in activities %}
        {% for category in categories %}
            {% if session.user|lower == activity.created_by|lower %}
                <div class="col s12 m6 l4">
                    <div class="card hoverable">
                        <div class="card-image">
                            {% if category_name == activty_name %}
                                <img src="{{ category.img_url }}" />
                            {% endif %}
                            <span class="card-title">{{ activity.activity_name }}</span>
                        </div>
                        <div class="card-content">
                            <p>{{ activity.activity_summary }}</p>
                            <p><strong>Target age:</strong> {{ activity.age_name }} | <strong>Category:</strong> {{ activity.category_name }} </p>
                        </div>
                        <div class="card-action">
                            <a href="{{ url_for('edit_activity', activity_id=activity._id) }}" class="waves-effect waves-light btn">Edit</a>
                            <a href="{{ url_for('delete_activity', activity_id=activity._id) }}" class="waves-effect waves-light btn right">Delete</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </div>

{% endblock %}
