{% extends "base.html" %}
{% block title %}Self Isolution - {{ activity.activity_name }}{% endblock %}
{% block nav_activities %}active{% endblock %}
{% block nav_activities_mob %}active{% endblock %}

{% block content %}
    <div class="view-activity-image-container center-align">
        {% if activity.image_file == "" %}
            {% for category in categories if category.category_name == activity.category_name %}
                <img src="{{ category.image_file }}" alt="" class="view-activity-image responsive-img">
            {% endfor %}
        {% else %}
            <img src="{{ activity.image_file }}" alt="" class="view-activity-image responsive-img">
        {% endif %}
    </div>

    <div class="row view-activity-heading-row center">
        <div class="col s2">
            {% if session.user|lower == activity.created_by|lower %}
                <h3 class="activity-heading">
                    <button data-target="{{ activity._id }}" class="btn-floating modal-trigger red">
                        <i class="fas fa-trash-alt "></i>
                    </button>
                </h3>
            {% endif %}
        </div>
        <div class="col s8">
            <h3 class="section-heading">
                {{ activity.activity_name }}
            </h3>
        </div>
        <div class="col s2">
            {% if session.user|lower == activity.created_by|lower %}
                <h3 class="activity-heading">
                    <a href="{{ url_for('edit_activity', activity_id=activity._id) }}" class="btn-floating teal darken-1"><i class="fas fa-pencil-alt"></i></a>
                </h3>
            {% endif %}
        </div>
    </div>

    <div class="activity-category-and-age-container">
        <a href="{{ url_for('filter_age', target_age=activity.target_age) }}">
            <div class="chip activity-chip--age hoverable">
                <i class="fas fa-child prefix"></i>  {{ activity.target_age }}
            </div>
        </a>
        {% for category in categories if category.category_name == activity.category_name %}
            <a href="{{ url_for('filter_category', category_id=category._id) }}" >
                <div class="chip activity-chip--category hoverable">
                    <i class="fas fa-folder-open prefix"></i> {{ activity.category_name }}
                </div>
            </a>
        {% endfor %}
        
        
    </div>
    <div class="activity-details-container">
        {% for para in activity.activity_details.splitlines() %}
            <p class="flow-text">{{ para }}</p>
        {% endfor %}
    </div>
    <div class="activity-creation-summary-container left-align">
        <p class="activity-creation-summary">
            added by {{ activity.created_by }} on {{ activity.date_added }}
        </p> 
    </div>
    <p class="equipment-needed-text center"><i class="fas fa-box-open prefix"></i> Things you'll need:</p>
    <div class="activity-equipment-container">
        {% if activity.activity_equipment.splitlines()|length > 0 %}
            {% for item in activity.activity_equipment.splitlines()|unique %}
                <div class="chip activity-chip--equipment">
                    {{- item -}}
                </div>
            {% endfor %}
        {% else %}
            <p class="equipment-needed-text"><i class="fas fa-box-open prefix"></i> You won't need anything extra for this one!</p>
        {% endif %}
    </div>

    <div id="{{ activity._id }}" class="modal">
        <div class="modal-content">
            <h4>Confirm deletion</h4>
            <p>Are you sure you want to delete {{ activity.activity_name }} ?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-red btn-flat">Cancel</a>
            <a href="{{ url_for('delete_activity', activity_id=activity._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
        </div>
    </div>

{% endblock %}