{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">{{ activity.activity_name }}</h3>

    <div class="row">
        <div class="col s12">
            {{ activity.category_name }} <br>
            {{ activity.age_name }}<br>
            {{ activity.activity_summary }}<br>
            {{ activity.activity_details }}<br>
            {{ activity.created_by }}
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a href="{{ url_for('get_activities') }}" class="waves-effect waves-light btn">Back</a>
            {% if session.user|lower == activity.created_by|lower %}
              <a href="{{ url_for('edit_activity', activity_id=activity._id) }}" class="waves-effect waves-light btn">Edit</a>
            {% endif %}
        </div>
    </div>

{% endblock %}