{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">{{ activity.activity_name }}</h3>

    <div class="row">
        <div class="col s12">
            <p><strong>Category:</strong> {{ activity.category_name }}</p>
            <p><strong>Summary:</strong> {{ activity.activity_summary }}</p>
            <p><strong>Details:</strong> {{ activity.activity_details }}</p>
            <p><strong>User:</strong> {{ activity.created_by }}</p>
            <p><strong>Added:</strong> {{ activity.date_added }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <a href="{{ url_for('get_activities') }}" class="waves-effect waves-light btn">Back</a>
            {% if session.user|lower == activity.created_by|lower %}
              <a href="{{ url_for('edit_activity', activity_id=activity._id) }}" class="waves-effect waves-light btn">Edit</a>
            {% endif %}
        </div>
    </div>

{% endblock %}